body {
  font-family: "Crimson Text", serif;
  color: #2a2a2a;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

/******************************************************************************************/

.nav-title {
  background: #2a2a2a;
  padding: 4px 15px 0;
}
.nav-title a {
  color: #dfe1e0;
  text-decoration: none;
  font-size: 36px;
  margin: 0;
}
.nav-title a:hover {
  color: #dfe1e0;
}
.nav-link:hover::after {
  content: "";
  display: block;
  width: 55px;
  height: 2px;
  background: #b8735b;
  margin: 0 auto;
}
.active {
  color: #b8735b !important;
}
.active::after {
  content: "";
  display: block;
  width: 55px;
  height: 2px;
  background: #b8735b;
  margin: 0 auto;
}
.menu-item a {
  color: #2a2a2a;
  font-weight: 600;
  transition: all 200ms ease-in-out;
}
.menu-item {
  font-size: 32px;
}
.menu-item a:hover {
  color: #b8735b;
}

/******************************************************************************************/

.hero {
  width: 100%;
  min-height: 100vh;
  background: url("/images/background.jpg") 0 0 / cover no-repeat;
  box-shadow: 5px 5px 5px #2a2a2a;
}
.hero-title {
  position: relative;
  margin: 150px 0;
}
h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 1.5px;
  margin: 0;
}
h3 {
  font-size: 42px;
  padding-bottom: 30px;
}
h4 {
  font-size: 40px;
  text-transform: lowercase;
  font-weight: 600;
  margin: 30px 0 10px;
}
.hero-title:after {
  content: "";
  display: block;
  width: 105px;
  height: 2px;
  background: #2a2a2a;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -50px;
}
.btn {
  line-height: 50px;
  padding: 0 20px;
  letter-spacing: 2px;
  border: none;
  background: rgba(184, 115, 91, 0.6);
  border-radius: 2px;
  transition: all 200ms ease-in-out;
}
.btn a {
  color: #2a2a2a;
  text-decoration: none;
  text-transform: uppercase;
}
.btn:hover {
  background: transparent;
  border-top: 2px solid #b8735b;
  border-bottom: 2px solid #b8735b;
  letter-spacing: 5px;
}

/******************************************************************************************/

.about,
.work {
  background: #eae9e9;
}
.about-row {
  margin: 40px auto 10px;
  display: flex;
}
.about-column {
  flex: 1 1 50%;
  padding: 5px;
}
.about-content {
  margin: 70px auto 0;
}
.heading {
  text-transform: capitalize;
  font-size: 86px;
  text-align: start;
  margin: 20px 0 40px;
}
.contact .container .heading {
  text-transform: none;
}
.heading span {
  display: block;
  margin-left: 90px;
}
.about-content p {
  text-align: start;
  margin: 0 10px 40px 90px;
  font-size: 18px;
}
.skills span {
  font-weight: 600;
  opacity: 0.9;
}

/******************************************************************************************/

.title {
  text-transform: lowercase;
  font-size: 72px;
  margin: 50px 0;
  text-align: start;
}
.work-row {
  display: flex;
}
.work-column {
  flex: 1 1 50%;
  padding: 20px;
}
.work-column img {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  -webkit-transform: rotate(0) scale(0.9);
  transform: rotate(0) scale(0.9);
}
.work-column img:hover {
  -webkit-transform: rotate(10deg) scale(0.8);
  transform: rotate(10deg) scale(0.8);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

/******************************************************************************************/

.contact {
  background: url("/images/background-2.jpg") 0 0 / cover no-repeat;
  min-height: 100vh;
}
.contact-block {
  margin: 80px 0 100px;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(249, 247, 254, 0.6);
  box-shadow: -18px 13px 34px -8px rgba(178, 178, 178, 0.55);
  text-align: start;
}
.contact-title {
  font-size: 44px;
  font-weight: 600;
}
.contact p {
  font-size: 20px;
}
.btn-contact a,
.btn-work a {
  text-transform: lowercase;
}
footer a {
  color: inherit;
  text-decoration: none;
  font-size: 20px;
  padding: 0 30px;
}

/******************************************************************************************/

@media (max-width: 1024px) {
  .about-content {
    margin: 40px auto 0;
  }
  .heading {
    font-size: 64px;
  }
  .heading span {
    margin-left: 70px;
  }
  .about-content p {
    margin: 0 10px 20px 70px;
    font-size: 16px;
  }
}

@media (max-width: 890px) {
  .nav-title {
    padding: -3px 7px;
  }
  .nav-title a {
    font-size: 30px;
  }
  .hero-title {
    margin: 120px 0;
  }
  h1 {
    font-size: 40px;
  }
  h3 {
    font-size: 36px;
    padding-bottom: 30px;
  }
  .about-row {
    margin: 0 auto 10px;
    flex-direction: column;
  }
  .heading {
    text-transform: capitalize;
    font-size: 60px;
    text-align: center;
    margin: 20px 0;
  }
  .heading span {
    display: inline;
    margin: 0;
  }
  .about-content p {
    text-align: center;
    margin: 0 0 10px;
  }
  .work-row {
    flex-direction: column;
  }
  .title {
    font-size: 60px;
    margin: 20px 0;
  }
  .contact-block {
    margin: 50px 0 60px;
    flex-direction: column;
  }
  .contact-title,
  .contact p {
    text-align: center;
  }
  .btn-contact {
    margin: 20px 0;
  }
}
